{% include 'header.html' %}
<body>
 {% include 'top_menus.html' %}
  <div class="container">        
      {% include 'left_menus.html' %}    
	  <div class="content">
		<div class="container-fluid">   	
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title"><i class="fa fa-search"></i> Select Criteria</h3>
						</div>
						<form id="form1" action="{{ url_for('getClassAttendance')}}" method="post" accept-charset="utf-8">
							<div class="box-body">						
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label for="exampleInputEmail1">Class</label><small class="req"> *</small>
											<select id="classid" name="classid" class="form-control" required>
												<option value="">Select</option>
												{% for class in classes %}								
													<option value="{{class.id}}" {% if class.id == classId %} selected {% endif %}>{{class.name}}</option>				
												{% endfor %}												
											</select>
											<span class="text-danger"></span>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="exampleInputEmail1">Section</label><small class="req"> *</small>
												<select name="sectionid" id="sectionid" class="form-control" required>
													<option value="">Select</option>
													{% for section in sections %}
														<option value="{{section.section_id}}" {% if section.section_id == sectionId %} selected {% endif %}>{{section.section}}</option>	
													{% endfor %}
												</select>
											<span class="text-danger"></span>
										</div>
									</div> 									
								</div>
							</div>
							<div class="box-footer">
								<button type="submit" id="search" name="search" value="search" style="margin-bottom:10px;" class="btn btn-primary btn-sm  checkbox-toggle"><i class="fa fa-search"></i> Search</button> <br>
							</div>
						</form>
					</div>					
					<div class="row">					
						<form id="attendanceForm" method="post">					
							<div style="color:red;margin-top:20px;" class="" id="message"></div>
							<button type="submit" id="saveAttendance" name="saveAttendance" value="Save Attendance" style="margin-bottom:10px;" class="btn btn-primary btn-sm  pull-right checkbox-toggle hidden"><i class="fa fa-save"></i> Save Attendance</button> <table id="studentList" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Reg No</th>
									<th>Roll No</th>	
									<th>Name</th>
									<th>Attendance</th>													
								</tr>
							</thead>
							<tbody>
							    {% for student in students %}
								<tr>
									<td>{{student.id}}</td>
									<td>{{student.admission_no}}</td>
									<td>{{student.roll_no}}</td>	
									<td>{{student.name}}</td>
									<td>
									
									<input type="radio" id="attendencetype1_"+{{student.id}}+" value="1" name="attendencetype_"+{{student.id}}+" autocomplete="off" '.$checked['1'].'>
									<label for="attendencetype_"+{{student.id}}+">Present</label>
									<input type="radio" id="attendencetype2_"+{{student.id}}+"" value="2" name="attendencetype_"+{{student.id}}+"" autocomplete="off" '.$checked['2'].'>
									<label for="attendencetype"+{{student.id}}+">Late </label>
									<input type="radio" id="attendencetype3_"+{{student.id}}+" value="3" name="attendencetype_"+{{student.id}}+" autocomplete="off" '.$checked['3'].'>
									<label for="attendencetype3_"+{{student.id}}+"> Absent </label>
									<input type="radio" id="attendencetype4_"+{{student.id}}+" value="4" name="attendencetype_"+{{student.id}}+" autocomplete="off" '.$checked['4'].'><label for="attendencetype_"+{{student.id}}+"> Half Day </label>
									
									</td>													
								</tr>
								{% endfor %}
							</tbody>
							</table>
							<input type="hidden" name="action" id="action" value="updateAttendance" />
							<input type="hidden" name="att_classid" id="att_classid" value="" />
							<input type="hidden" name="att_sectionid" id="att_sectionid" value="" />
						</form>
					</div>							
				</div>
			</div>
		</div>	
	</div>
  </div>
  </body>
</html>