{% include 'header.html' %}
<script src="{{ url_for('static',filename='js/sections.js') }}"></script>
<body>
 {% include 'top_menus.html' %}
  <div class="container">        
      {% include 'left_menus.html' %}    
	  <div class="content">
		<div class="container-fluid">   	
			<div class="row">
				<a href="#"><strong><span class="ti-crown"></span> Classes Section</strong></a>
				<hr>		
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-10">
							<h3 class="panel-title"></h3>
						</div>
						<div class="col-md-2" align="right">
							<button type="button" name="add" id="addSection" class="btn btn-success btn-xs">Add New Section</button>
						</div>
					</div>
				</div>
				<table id="sectionList" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>											
							<th></th>
							<th></th>							
						</tr>
					</thead>
					<tbody>
					  {% for section in sections %}
					  <tr>
						<td>{{section.section_id}}</td>
						<td>{{section.section}}</td>											
						<td><a href="{{url_for('edit_sections', section_id=section.section_id)}}" id="{{section.section_id}}" class="btn btn-primary update">Edit</a></td>
						<td><a href="{{url_for('delete_sections', section_id=section.section_id)}}" class="btn btn-danger">Delete</a></td>
					  </tr> 
					{% endfor %}	  
					</tbody>
				</table>
			</div>
		</div>	
	</div>
  </div>
  <div id="sectionModal" class="modal fade">
	<div class="modal-dialog">
		<form method="post" id="sectionForm" action="{{ url_for('save_sections')}}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><i class="fa fa-plus"></i> Edit Section</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="firstname" class="control-label">Section Name*</label>
						<input type="text" class="form-control" id="section_name" name="section_name" placeholder="Section Name" required>							
					</div>									
				</div>
				<div class="modal-footer">
					<input type="hidden" name="sectionid" id="sectionid" />
					<input type="hidden" name="action" id="action" value="" />
					<input type="submit" name="save" id="save" class="btn btn-info" value="Save" />
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</form>
	</div>
 </div>
</body>
</html>